<!-- Footer -->
<footer class="row">
  <div class="large-12 columns"><hr />
      <div class="row">

        <div class="small-6 columns">
            <p>by 831oioJIN.</p>
        </div>
        <div class="small-6 columns">
            <ul class="inline-list right">
							<li><%= link_to image_tag("rr_twitter.png", alt: "tw"),'http://www.twitter.com/oiojin831' %></li>
            </ul>
        </div>
      </div>
  </div>
</footer>
